# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# IDE and Editor files
.vscode/
.idea/
*.swp
*~

# Virtual Environment
venv/
env/
.venv/

# Dependencies
# Pip
/dist
/build
*.egg-info/
.eggs/

# Puzzle Input Folder
puzzle_inputs/

# Logs and databases
*.log
*.sqlite
